h1{
    text-align: center;
    
}
button{
    text-align: center;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 25px;
}
input{
    width: 250px;
    height: 25px;
    border-radius:10px;
}
::placeholder{
    text-align: center;
}
button{
    width: 100px;
    height: 25px;
    border-radius:10px;
}
button:hover{
    cursor: pointer;
    background-color: aqua;
}
.SecondContainer {
    display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: rgb(17, 53, 53);
    padding: 15px;
    margin: 15px;
  }
.backbtn{
    width: 150px;
    height: 30px;
   
    position: relative;
    left: 40%;
}